# Packages
vendor/
composer.lock

# IDE
.idea/
.vscode/

# PhpUnit
_reports/
.phpunit.cache/
.phpunit.result.cache
phpunit.report.xml
phpunit.coverage.xml

#Others
.DS_Store
docker-compose.override.yml